<div class="container">
<div class="col-md-9">
  <!-- Bordered Funny Boxes -->
  <div class="funny-boxes funny-boxes-top-sea">
      <div class="row">
          <div class="col-md-4 funny-boxes-img">
              <img class="img-responsive" src="http://lorempixel.com/500/400/business/1/" alt="">
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                 <li><i class="fa fa-map-marker"></i> New York, US</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Turquoise Bordered Box</a></h2>
              <ul class="list-unstyled funny-boxes-rating">
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
              </ul>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
          </div>
      </div>
  </div>
  <!-- End Bordered Funny Boxes -->

  <!-- Colored Funny Boxes -->
  <div class="funny-boxes funny-boxes-colored funny-boxes-blue">
      <div class="row">
          <div class="col-md-4 funny-boxes-img">
              <img class="img-responsive" src="http://lorempixel.com/500/400/business/2/" alt="">
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                 <li><i class="fa fa-map-marker"></i> New York, US</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Blue Box</a></h2>
              <ul class="list-unstyled funny-boxes-rating">
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
              </ul>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
              <a href="#" class="btn-u btn-u-red">read more</a>
          </div>
      </div>
  </div>
  <!--End Colored Funny Boxes -->

  <!-- Bordered Funny Boxes -->
  <div class="funny-boxes funny-boxes-left-orange">
      <div class="row">
          <div class="col-md-4 funny-boxes-img">
              <img class="img-responsive" src="http://lorempixel.com/500/400/business/3/" alt="">
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                 <li><i class="fa fa-map-marker"></i> New York, US</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Orange Bordered Box</a></h2>
              <ul class="list-unstyled funny-boxes-rating">
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
              </ul>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
          </div>
      </div>
  </div>
  <!-- End Bordered Funny Boxes -->

  <!-- Colored Funny Boxes -->
  <div class="funny-boxes funny-boxes-colored funny-boxes-red">
      <div class="row">
          <div class="col-md-4 funny-boxes-img">
              <img class="img-responsive" src="http://lorempixel.com/500/400/business/4/" alt="">
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                 <li><i class="fa fa-map-marker"></i> New York, US</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Red Box</a></h2>
              <ul class="list-unstyled funny-boxes-rating">
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
              </ul> ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
              <a href="#" class="btn-u btn-u-blue">read more</a>
          </div>
      </div>
  </div>
  <!-- Colored Funny Boxes -->

  <!-- Bordered Funny Boxes -->
  <div class="funny-boxes funny-boxes-right-u">
      <div class="row">
          <div class="col-md-4 funny-boxes-img">
              <img class="img-responsive" src="http://lorempixel.com/500/400/business/5/" alt="">
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                 <li><i class="fa fa-map-marker"></i> New York, US</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Unify Bordered Box</a></h2>
              <ul class="list-unstyled funny-boxes-rating">
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
              </ul>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
          </div>
      </div>
  </div>
  <!-- End Bordered Funny Boxes -->

  <!-- Colored Funny Boxes -->
  <div class="funny-boxes funny-boxes-colored funny-boxes-grey">
      <div class="row">
          <div class="col-md-4 funny-boxes-img">
              <img class="img-responsive" src="http://lorempixel.com/500/400/business/6/" alt="">
              <ul class="list-unstyled">
                 <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                 <li><i class="fa fa-map-marker"></i> New York, US</li>
              </ul>
          </div>
          <div class="col-md-8">
              <h2><a href="#">Grey Box</a></h2>
              <ul class="list-unstyled funny-boxes-rating">
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star"></i></li>
                 <li><i class="fa fa-star-o"></i></li>
              </ul>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
              <a href="#" class="btn-u btn-u-dark">read more</a>
          </div>
      </div>
  </div>
  <!-- Colored Funny Boxes -->
</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
