{% extends "app/base.html" %}
{% load staticfiles %}
{#<link rel="stylesheet" type="text/css" href="{% static 'job/funny_box.css' %}"/>#}
{% block styles %}
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
    <!--script src="{% static 'bike/map.js' %}"></script-->
    {{ form.media }}
{% endblock %}
{% block body %}
    {% load widget_tweaks %}
    <script type="text/javascript">
        $(function () {
            $('#{{ form.date_start.auto_id }}').datetimepicker({locale: 'ru'});
        });
    </script>

    <div class="row mt15">
        <div class="col-sm-7">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label">{{ form.title.label }}</label>
                    <div class="col-sm-10">
                        {{ form.title|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}" class="col-sm-2 control-label">{{ form.description.label }}</label>
                    <div class="col-sm-10">
                        {{ form.description|add_class:"form-control"}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.date_pub.id_for_label }}" class="col-sm-2 control-label">{{ form.date_pub.label }}</label>
                    <div class="col-sm-10">
                        {{ form.date_pub|add_class:"form-control"}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.date_start.id_for_label }}" class="col-sm-2 control-label">{{ form.date_start.label }}</label>
                    <div class="col-sm-10">
                        {{ form.date_start|add_class:"form-control"}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.google_map_field }}
                    <div id="map-canvas"></div>
                </div>
                <div class="form-group">
                    <label for="{{ form.location_begin.id_for_label }}" class="col-sm-2 control-label">
                        {{ form.location_begin.label }}
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            {{ form.location_begin|add_class:"form-control"}}
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.location_end.id_for_label }}" class="col-sm-2 control-label">
                        {{ form.location_end.label }}
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"></span>
                            {{ form.location_end|add_class:"form-control"}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.location_begin_lat}}
                    {{ form.location_begin_lng}}
                    {{ form.location_end_lat}}
                    {{ form.location_end_lng}}
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}