{% extends "app/base.html" %}
{% load staticfiles %}

{% block javascript %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeYANCLPqEO1Fbxlw6DsvWlBj3jvGECFA"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="{% static 'bike/map.js' %}"></script>

    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(function () {
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
        });
        $(document).ready(function() {
            $('#join').on('click', function() {
                    var self = this;
                    $.ajax({
                        url: "{% url 'join' object.id %}",
                        type: "POST",
                        data: {
                            csrf_token: getCookie('csrftoken')
                        },
                        success: function(response) {
                            $(self).html(response.result=='added'?'Отказаться':'Я пойду!');
                        }
                    });
                });
        });
    </script>
{% endblock %}

{% block styles %}
    <link href="{% static 'bike/map.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row mt15">

        <p>Велопробег начинается на: <i>{{ object.location_begin }}</i> и заканчивается на <i>{{ object.location_end }}</i></p>
        <p>Начало:<i> {{ object.date_start|date:"F d H:i" }}</i></p>
        <p>
        {% if user.is_authenticated %}
            <button type="button" id="join" joined="{{ joined }}" class="btn btn-default">
                {{ joined|yesno:"Отказаться,Я пойду!" }}
            </button>
            {% if update %}
                <a href="{{ update }}" class="btn btn-default">
                    Редактировать
                </a>
            {% endif %}
        {% else %}
            <p>Авторизуйтесь, чтобы присоединиться к велопробегу!</p>
        {% endif %}
        </p>
    </div>
    <div class="row mt15">
        <div map="google" name="just_map" mode="readonly"
             data-begin="{{ object.location_begin_lat|stringformat:"f" }};{{ object.location_begin_lng|stringformat:"f" }}"
             data-end="{{ object.location_end_lat|stringformat:"f" }};{{ object.location_end_lng|stringformat:"f" }}">
        </div>
    </div>
    <div class="row mt15">
        <p class="text-right">Опубликовано: <i>{{ object.date_pub|date:"F d H:i" }}</i>, пользователем <u>{{ object.author.username }}</u></p>
    </div>

    <div class="row mt15">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>След. пользователи решили пойти</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in object.users_joined.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user.username }}</td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}