{% extends "app/base.html" %}
    {% load staticfiles %}
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'bike/funny_box.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bike/base.css' %}"/>
    {% endblock %}
    {% block javascript %}
    {% endblock %}


{% block body %}
    <div class="row mt15">
    {% if user.is_authenticated %}
        <div class="col-md-9">
            <a class="btn btn-primary" href="{% url 'create' %}">Добавить запись</a>
        </div>
    {% endif %}
    </div>
    <div class="row mt15">
        <div class="col-md-9">
        {% if latest_bikeroutes_list %}
            {% for bikeroute in latest_bikeroutes_list %}
                <!-- Bordered Funny Boxes -->
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a href="{% url 'detail' bikeroute.id %}">{{ bikeroute.title }}</a></h2>
                            <ul class="list-unstyled funny-boxes-rating">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <p><i>Начало - {{ bikeroute.date_start|date:"F d H:i" }}</i></p>
                            <p>{{ bikeroute.description }}</p>
                            <p>Собираются пойти <u><i>{{ bikeroute.users_joined_count }}</i></u></p>
                        </div>
                        <div class="col-md-4 funny-boxes-img">
                            <!--img class="img-responsive" src="http://lorempixel.com/500/400/business/1/" alt=""-->
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i>Начинаем: {{ bikeroute.location_begin }}</li>
                                <li><i class="fa fa-map-marker"></i>Заканчиваем: {{ bikeroute.location_end }}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- End Bordered Funny Boxes -->
            {% endfor %}
            {% if is_paginated %}
                <ul class="pagination pagination-centered">
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1"><<</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
            <h4>Пока что нет никаких записей.</h4>
        {%  endif %}
        </div>
    </div>
{% endblock %}