{% extends "app/base.html" %}
    {% load staticfiles %}
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'bike/funny_box.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bike/base.css' %}"/>
    {% endblock %}
    {% block javascript %}
    {% endblock %}


{% block body %}
    <div class="row mt15">
    <ul>
        {% for notification in actual_notification_list %}
            <li>{{ notification.message }} - {{ notification.created_at }}</li>
        {% endfor %}
    </ul>
{% endblock %}