{% extends 'app/base.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/login.css' %}"/>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'user/login.js' %}"></script>
{% endblock %}

{% block body %}
    {% load widget_tweaks %}
    <div class="omb_login">
    	<h3 class="omb_authTitle">Войти или <a href="#">Зарегистрироваться</a></h3>
		{% comment %}
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="#" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>
        {% endcomment %}
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
                {#{ form  }#}
                <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
                        {{ form.username|add_class:"form-control" }}
					</div>
					<span class="help-block"></span>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						{{ form.password|add_class:"form-control"|attr:"type:password" }}
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
				</form>
			</div>
    	</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Запомнить
				</label>
			</div>

		</div>
	</div>
{% endblock %}