{% extends 'app/base.html' %}

{% block body %}
    {% load widget_tweaks %}
    <section class="container">
		<form method="POST">
            <div class="container-page">
                <div class="col-md-6">
                    <h3 class="dark-grey">Регистрация</h3>
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                        <div class="form-group col-lg-12">
                            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            {{ form.username|add_class:"form-control" }}
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                            {{ form.password1|add_class:"form-control"|attr:"type:password" }}
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                            {{ form.password2|add_class:"form-control"|attr:"type:password" }}
                        </div>

                        <div class="form-group col-lg-12">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email|add_class:"form-control"|attr:"type:email" }}
                        </div>

                </div>

                <div class="col-md-6">
                    <h3 class="dark-grey">Terms and Conditions</h3>
                    <p>
                        By clicking on "Register" you agree to The Company's' Terms and Conditions
                    </p>
                    <p>
                        While rare, prices are subject to change based on exchange rate fluctuations -
                        should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
                    </p>
                    <p>
                        Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
                    </p>
                    <p>
                        Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
                    </p>

                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
	</section>
{% endblock %}